.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15;
  padding-top: 40px;
}

.header__title {
  font-size: 32px;
  font-weight: 600;
}

.header__icons span {
  margin-left: 25px;
}

.header__icons i {
  margin-right: 25px;
}

.screen-header span {
  position: relative;
}

.header__icons__find {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space) 0;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.header__icons .fa-solid:hover {
  animation: rotateCog 1s linear infinite;
}
